body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;    
}
h1{
    font-size: 50px;
    
}
h2{
    font-size: 20px;
}
p{
    color: dimgray;
    font-weight: 500;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-area{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom:300px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(10deg,lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 10px;
    color: whitesmoke;
    font-weight: 700;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 5px;
    height: 50%;
    }
.experience-area{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;

}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(10deg,lightsalmon, tomato); ;
    border-image-slice: 1;
}
#baby-stack{
    border-left: 7px solid;
    border-image: linear-gradient(10deg,rgb(122, 255, 222), rgb(71, 255, 255)); ;
    border-image-slice: 1;
}
footer p{
    text-align: center ;
    font-weight: 700 ;
}


